<div class="main-sidebar sidebar-style-2">
    <aside id="sidebar-wrapper">
        <div class="sidebar-brand">
            <a href="/home"> <img alt="image" src="/img/logo.png" style="background: white" class="header-logo" /></a>
        </div>
        <ul class="sidebar-menu">
            <li class="dropdown text-center">
                <span style="padding-left: 10px; font-size: large; color: white;"><%= cryptedge.title %></span>
            </li>
            <% if(role == 1) { %>
            <li class="dropdown text-center">
                <span style="padding-left: 10px; font-size: large; color: white;">Welcome Super Admin</span>
            </li>
            <% }  else if( role == 2) { %>
            <li class="dropdown text-center">
                <span style="padding-left: 10px; font-size: large; color: white;">Welcome Manager</span>
            </li>
            <% } else if( role == 3) { %>
            <li class="dropdown text-center">
                <span style="padding-left: 10px; font-size: large; color: white;">Welcome User</span>
            </li>
            <% } %>
            <li class="dropdown">
                <a href="/home" class="nav-link"><i data-feather="home"></i><span>Dashboard</span></a>
            </li>
            <li class="dropdown">
                <a href="#" class="menu-toggle nav-link has-dropdown"><i
                        class="fas fa-wallet"></i><span>Wallet</span></a>
                <ul class="dropdown-menu">
                    <li><a class="nav-link" href="/fundwallet">Fund</a></li>
                    <li><a class="nav-link" href="/withdraw">Withdraw</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="#" class="menu-toggle nav-link has-dropdown"><i data-feather="gift"></i><span>Invest</span></a>
                <ul class="dropdown-menu">
                    <li><a class="nav-link" href="/packages">Packages</a></li>
                    <li><a class="nav-link" href="/investments">Investments</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="#" class="menu-toggle nav-link has-dropdown"><i
                        class="fas fa-history"></i><span>Transactions</span></a>
                <ul class="dropdown-menu">
                    <li><a class="nav-link" href="/deposits">Deposits</a></li>
                    <li><a class="nav-link" href="/mywithdraws">Withdrawals</a></li>
                    <li><a class="nav-link" href="/bankdeposits">Uploaded Deposits</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="/referrals" class="nav-link"><i data-feather="link"></i><span>Referrals</span></a>
            </li>
            <li class="dropdown">
                <a href="/user_chat" class="nav-link"><i class="fas fa-comment"></i><span>Chat</span></a>
            </li>
            <li class="dropdown">
                <a href="/settings" class="nav-link"><i class="fas fa-user-cog"></i><span>Settings</span></a>
            </li>
            <li class="dropdown">
                <a href="javascript:void(0);" class="nav-link" onclick="event.preventDefault();
								document.getElementById('logout-menu').submit();">
                    <i class="fas fa-sign-out-alt"></i><span>Logout</span>
                </a>
                <form id="logout-menu" action="/logout" method="POST" style="display: none;">
                </form>
            </li>
        </ul>
    </aside>
</div>